app/src/main/resources/SimpleAddBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SimpleAddBean" targetNamespace="http://soa.app.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.app.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xsd:schema xmlns:tns="http://soa.app.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soa.app.example.com/">
  <xsd:element name="getSample" type="tns:getSample"/>
  <xsd:complexType name="getSample">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="getSampleResponse" type="tns:getSampleResponse"/>
  <xsd:complexType name="getSampleResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="setSample" type="tns:setSample"/>
  <xsd:complexType name="setSample">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sample" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="setSampleResponse" type="tns:setSampleResponse"/>
  <xsd:complexType name="setSampleResponse">
    <xsd:sequence/>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSampleResponse">
    <wsdl:part name="parameters" element="tns:getSampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSample">
    <wsdl:part name="parameters" element="tns:getSample">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSampleResponse">
    <wsdl:part name="parameters" element="tns:setSampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSample">
    <wsdl:part name="parameters" element="tns:setSample">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimpleAddBeanPortType">
    <wsdl:operation name="getSample">
      <wsdl:input name="getSample" message="tns:getSample">
    </wsdl:input>
      <wsdl:output name="getSampleResponse" message="tns:getSampleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSample">
      <wsdl:input name="setSample" message="tns:setSample">
    </wsdl:input>
      <wsdl:output name="setSampleResponse" message="tns:setSampleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleAddBeanSoapBinding" type="tns:SimpleAddBeanPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSample">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSample">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSampleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSample">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setSample">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setSampleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleAddBean">
    <wsdl:port name="SimpleAddBeanPort" binding="tns:SimpleAddBeanSoapBinding">
      <soap:address location="http://localhost:9090/SimpleAddBeanPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
